/*.parallax {*/
	/*perspective: 1px;*/
	/*height: 100vh;*/
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
/*}*/

/*.parallax__layer {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
/*}*/

/*.parallax__layer--base {*/
	/*transform: translateZ(0);*/
	/**/
	/*background: url( 'http://dreempics.com/img/picture/Apr/30/a916f4a29afec8e1f69c3567ea301838/6.jpg' )center no-repeat;*/
/*}*/

/*.parallax__layer--back {*/
	/*transform: translateZ(-1px);*/
	/**/
	/*background: url( 'http://nibler.ru/uploads/users/2012-03-27/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-%D1%81%D1%82%D0%BE%D0%BB-%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-%D1%81%D0%BC%D0%B5%D1%88%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-%D1%84%D0%BE%D1%82%D0%BE%D0%BF%D1%80%D0%B8%D0%BA%D0%BE%D0%BB%D1%8B_8617971351.jpg' )center no-repeat;*/
/*}*/

/*.img-one*/
/*{*/
	/*/!*width: 100%;*!/*/
	/*/!*height: 100%;*!/*/
	/**/
	/*/!*object-fit: cover;*!/*/
/*}*/

/*.img-two*/
/*{*/
	/*/!*width: 600px;*!/*/
	/*/!*height: auto;*!/*/
/*}*/

div.slide-show
{
	position: relative;
	
	overflow: hidden;
	
	/*width: 900px;*/
	height: 600px;
	width: 700px;
	margin: auto;
}

div.slide-show > ul.slides
{
	/*position: relative;*/
	position: absolute;
	top: 0;
	left: -700px;
	
	/*overflow: hidden;*/
	
	/*width: 700px;*/
	height: 500px;
	width: 2100px;
	padding: 0;
	margin: 0;
	/*margin-left: -1050px;*/
	
	list-style: none;
	
	/*transition: .3s;*/
	/*transition: left .3s, right .3s;*/
}

div.slide-show > ul.slides > li
{
	position: absolute;
	top: -100%;
	
	/*width: 100%;*/
	width: 700px;
	height: 100%;
	
	/*transition: left .3s, right .3s;*/
}

div.slide-show > ul.slides > li.current
{
	top: 0;
	/*left: 0;*/
	left: 50%;
	
	margin-left: -350px;
	
	/*transition: left .3s, right .3s;*/
}

div.slide-show > ul.slides > li.prev
{
	top: 0;
	/*left: -100%;*/
	left: 0;
}

div.slide-show > ul.slides > li.next
{
	top: 0;
	/*right: -100%;*/
	right: 0;
}

div.slide-show > ul.slides > li > img
{
	display: block;
	
	width: 100%;
	height: 100%;
	
	object-fit: cover;
}

ul.bookmarks
{
	position: absolute;
	bottom: 0;
	
	display: block;
	
	height: 20px;
	padding: 0;
}

ul.bookmarks > li
{
	position: relative;
	
	display: inline-block;
	
	width: 20px;
	height: 20px;
}

ul.bookmarks > li:after
{
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 10px;
	height: 10px;
	margin-top: -5px;
	margin-left: -5px;
	
	content: '';
	cursor: pointer;
	
	border-radius: 50%;
	
	background: gray;
}

ul.bookmarks > li.current:after
{
	background: red;
}

div.controls
{
	position: absolute;
	bottom: 40px;
	left: 50%;
	
	/*display: none;*/
	
	/*width: 720px;*/
	/*margin-left: -360px;*/
}

div.controls > button
{
	position: absolute;
	bottom: 0;
	
	width: 50px;
	height: 50px;
}

div.controls > button.prev
{
	left: -60px;
}

div.controls > button.prev:after
{
	position: absolute;
	top: 7px;
	left: 16px;
	z-index: 1;
	
	width: 30px;
	height: 30px;
	
	content: '';
	
	border: 1px solid red;
	border-right: none;
	border-bottom: none;
	
	transform: rotate( -45deg );
}


div.controls > button.next
{
	right: -60px;
}

div.controls > button.next:after
{
	position: absolute;
	top: 7px;
	left: -2px;
	z-index: 1;
	
	width: 30px;
	height: 30px;
	
	content: '';
	
	border: 1px solid red;
	border-left: none;
	border-bottom: none;
	
	transform: rotate( 45deg );
}


